html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h3,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h3,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
html{
	height:100%;
}
body{
	height:100%;
	font-size:14px;
	font-family: Arial,Helvetica,"Microsoft Yahei";
	color:#333;
}
a{
	text-decoration: none;
	color:#333;
}
.wrapper{
	position: relative;
	height: 100%;
	overflow: hidden;
}
header{
	float: left;
	width:300px;
	padding-top:32px;
}
.container{
	position: relative;
	height: 100%;
	margin-left: 300px;
	padding: 0 20px 0 40px;
}
.main{
	width:80%;
	padding: 40px 0 120px;
}		
footer{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 99;
}			
.mod-head{
	margin-bottom: 45px;
	padding:0 21px;
	line-height: 1.2;
}
.mod-head h1{
	font-size:36px;
	font-family:Helvetica,Tahoma,Verdana,"Microsoft Yahei";
}
.mod-head p{
	text-indent: 4em;
	color:#484848;
}
.mod-list ul{
	overflow: hidden;
}
.mod-list li{
	height: 28px;
	padding-left: 22px;
	line-height: 28px;
	font-size: 16px;
}
.mod-list a{
	padding:1px 8px 1px 2px;
}
.mod-list a:hover,.mod-list .active a{
	border-bottom: 1px dotted #666;
}
.mod-foot{
	text-align: right;
	padding:0 30px;
	color:#999;
}
.mod-foot a{
	color:#999;
}

::selection {
    color: white;
    background-color: #333;
}

@media screen and (max-width: 800px)  {
	header{
		float: none;
		width: 100%;
	}
	.container{
		margin-left: 0;
	}
    .main{
    	width:100%;
    }
    .mod-head{
		margin-bottom: 20px;
	}
    .mod-head h1{
		font-size:24px;
	}
	.mod-head p{
		text-indent: .5em;
	}
    .mod-list li{
    	float: left;
    	width: 33.33%;
		padding-left:0;
		text-align: center;
    }
}
