*{margin:0;padding:0;}/*取消默认显示方式*/
img{border:0;}
body{background-image:url(../picture/desk/bg.jpg);text-align:center;}
#main{border:3px double #cccccc;width:1270px;height:600px;margin:10px auto;}
#left{float:left;width:150px;height:600px;}
#left_top{height:200px;}
#left_middle{height:200px;width:150px;display:table-cell;vertical-align:middle;text-align:center;margin:auto;}
#cards{position:relative;background-image:url(../picture/puker/0.jpg);margin:auto;height:123px;width:80px;}
#card{display:block;position:relative;margin:auto;z-index:1;}
#left_bottom{height:200px;}
#center{float:left;border-left:1px solid #cccccc;border-right:1px solid #cccccc;width:916px;height:600px;background-image: url(../picture/desk/green.jpg);}
.show{width:916px;height:200px;}
.show span{position:absolute;border:1px outset gray;}
#center_message{display:table-cell;vertical-align:middle;text-align:center;width:916px;height:198px;font-family:"华文行楷","华文楷体","楷体";font-size:32px;color:#333333;line-height:1.5;}
.bet_sore{font-size:48px;font-family:"Times New Roman";font-weight:bold;text-shadow:black 1px 1px 1px;margin:10px;color:#EEC591}
.desk_cards{line-height:198px;font-size:198px;margin:0px;padding:0px;width:80px;height:123px;position:relative;}
#center_message a{font-size:48px;font-family:"Times New Roman";font-weight:bold;text-decoration:none;text-shadow:black 1px 1px 1px;margin:10px;}
#center_message a:link,#center_message a:visited{color:#FFC125;}/*加注时，加注分值的动态效果*/
#center_message a:hover{color:#FF8C00}
#center_message a:active{color:#EEC591}
.result{display:block;margin:auto;}
#right{float:left;width:200px;height:600px;}
#right_top{height:115px;text-align:left;padding:20px 5px 0px 25px;}
.message{font-family:"华文行楷","华文楷体","楷体";font-size:24px;text-decoration:none;color:#333333;line-height:1.3}
#logo{margin:auto;text-align:center;height:155px;}
#logo img{position:relative;display:block;margin:auto;}
#me{position:absolute;display:none;height:120px;width:200px;margin:auto;text-align:center;padding:35px 0;font-family:"华文行楷","华文楷体","楷体";font-weight:bold;font-style:italic;color:#333333;}
#me span.game{font-size:21px;}
#me span.versions{padding:0 0 0 60px;font-size:14px;}
#me span.copy{text-align:center;margin:auto;font-family:"华文行楷","华文楷体","楷体";font-size:16px;color:#333333;line-height:1.8;}
#mess_box{width:100%;line-height:28px;background-color: rgba(140, 115, 85, .6);border-top:1px solid rgba(140, 115, 85, .3);border-bottom:1px solid rgba(140, 115, 85,.3);font-family:"华文行楷","华文楷体","楷体";font-style:italic;font-size:15px;color:#333333;}
#message{margin:0 8px;font-weight:light;}
#choose{display:table-cell;vertical-align:middle;text-align:center;width:200px;height:280px;font-family:"华文行楷","华文楷体","楷体";font-style:inherit;font-size:32px;text-decoration:none;color:#333333;line-height:1.5;}
#choose a{font-family:"华文行楷","华文楷体","楷体";font-size:32px;text-decoration:none;}
#choose a:link,#choose a:visited{color:#000000;}/*选择菜单的动态效果*/
#choose a:hover{color:#0000CC;}
#choose a:active{color:#333333;}
