.fancy-icon{
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 20px;
	color: #333;
}
/* home */
.icon-home:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;				
	display: block;
	height: 0;
	width: 0;
	border: .5em solid transparent;
	border-bottom-color: currentColor;
	border-top: 0;
}
.icon-home:after {
	content: '';
	position: absolute;
	top: .45em;
	left: .15em;				
	display: block;
	height: .3em;
	width: .3em;
	border: .2em currentColor solid;
	border-top-width: .25em;
	border-bottom-width: 0;
}
/* search */
.icon-search:before, .icon-search:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;				
	display: block;
	height: .5em;
}
.icon-search:before{
	width: .5em;
	border: .075em currentColor solid;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	-ms-border-radius:100%;
	border-radius:100%;
}
.icon-search:after{
	top: .425em;
	left: .6em;				
	width: .175em;
	background: currentColor;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
}
/* plus */
.icon-plus:before,.icon-plus:after{
	content: '';
	position: absolute;		
	display: block;
	background: currentColor;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-o-border-radius: .25em;
	-ms-border-radius: .25em;
	border-radius: .25em;
}
.icon-plus:before{
	top: .4em;
	left: 0;
	height: .2em;
	width: 1em;
}
.icon-plus:after{
	top: 0;
	left: .4em;				
	height: 1em;
	width: .2em;
}
/* minus */
.icon-minus:before{
	content: '';
	position: absolute;	
	top: .4em;
	left: 0;
	display: block;
	height: .2em;
	width: 1em;
	background: currentColor;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-o-border-radius: .25em;
	-ms-border-radius: .25em;
	border-radius: .25em;
}
/* cancel */
.icon-cancel:before,.icon-cancel:after{
	content: '';
	position: absolute;
	top: .4em;
	left: 0;
	display: block;
	height: .2em;
	width: 1em;
	background: currentColor;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-o-border-radius: .25em;
	-ms-border-radius: .25em;
	border-radius: .25em;
}
.icon-cancel:before{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.icon-cancel:after{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* checkmark */
.icon-checkmark:after, .icon-checkmark:before{
	content: '';
	position: absolute;
	display: block;
	width: .15em;
	background: currentColor;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-o-border-radius: .25em;
	-ms-border-radius: .25em;
	border-radius: .25em;
}
.icon-checkmark:before{
	top: .45em;
	left: .2em;
	height: .3em;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.icon-checkmark:after{
	top: .15em;
	left: .5em;
	height: .7em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* menu */
.icon-menu:before{
	content: '';
	position: absolute;
	top: .125em;
	left: 0;
	display: block;
	height: .15em;
	width: 1em;
	background: currentColor;
	-webkit-border-radius: .1em;
	-moz-border-radius: .1em;
	-o-border-radius: .1em;
	-ms-border-radius: .1em;
	border-radius: .1em;
	-webkit-box-shadow:0 .3em currentColor, 0 .6em currentColor;
	-moz-box-shadow:0 .3em currentColor, 0 .6em currentColor;
	-o-box-shadow:0 .3em currentColor, 0 .6em currentColor;
	-ms-box-shadow:0 .3em currentColor, 0 .6em currentColor;
	box-shadow:0 .3em currentColor, 0 .6em currentColor;
}
/* download */
.icon-download{
	width: .8em;
	height: .9em;
	margin: 0 .1em;
	border-bottom: .1em solid currentColor;
}
.icon-download:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 0;
	width: 0;
	border: .4em solid transparent;
	border-bottom-width: 0;
	border-top-color: currentColor;
}
.icon-download:after{
	content: '';
	position: absolute;
	top: 0;
	left: .225em;
	display: block;
	height: .5em;
	width: .35em;
	background: currentColor;
}